
## Google Play Reviews for Three Banks

**Steps:**

1. Scrape reviews, ratings, dates, and app names for all three bank apps.
2. Clean and normalize the data.
3. Save the processed data to CSV files.

In [1]:
# scrape the data from google playstore
import sys
# add parent directory to import modules from src
sys.path.append("../src")
from scraper import Scraper
from processor import Processor
from fileLoader import FileLoader

scraper = Scraper()
print("Initialized scraper with the following Info:")
scraper.get_scraper_info()

Initialized scraper with the following Info:

{'app_ids': {'CBE': 'com.combanketh.mobilebanking',
  'BOA': 'com.boa.boaMobileBanking',
  'DB': 'com.dashen.dashensuperapp'},
 'bank_names': {'CBE': 'Commercial Bank of Ethiopia',
  'BOA': 'Bank of Abyssinia',
  'DB': 'Dashen Bank'},
 'max_retries': 3,
 'reviews_per_bank': 400,
 'lang': 'en',
 'country': 'et'}

In [2]:

# scrape the data from google playstore
df_cbe = scraper.get_reviews("CBE")
df_boa = scraper.get_reviews("BOA")
df_db = scraper.get_reviews("DB")

# display the first 5 rows
display(df_cbe.head())
display(df_boa.head())
display(df_db.head())

Scraping 400 reviews from Commercial Bank of Ethiopia (app id='com.combanketh.mobilebanking')
reviews saved to ../data/raw/com.combanketh.mobilebanking.csv
Scraping 400 reviews from Bank of Abyssinia (app id='com.boa.boaMobileBanking')
reviews saved to ../data/raw/com.boa.boaMobileBanking.csv
Scraping 400 reviews from Dashen Bank (app id='com.dashen.dashensuperapp')
reviews saved to ../data/raw/com.dashen.dashensuperapp.csv

,reviewId,review,rating,date,app_name,bank_name
0,28f229b5-0026-41b9-a1eb-b76e74736f63,Make it user friendly.,2,2025-11-29 08:17:45,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia
1,68d8daea-db47-4e23-a692-755173dea983,maaliif daddafee install gaafata,3,2025-11-28 13:36:32,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia
2,ee0dbb0e-4eb0-47b5-9874-c37877493f99,good app,5,2025-11-28 11:33:17,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia
3,5112423d-e618-44ba-ba49-62677cb76cd6,This application is very important and advanta...,5,2025-11-27 23:08:20,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia
4,bcb34681-1dd4-4781-b400-4393bb10b1d9,why didn't work this app?,1,2025-11-27 22:40:35,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia

,reviewId,review,rating,date,app_name,bank_name
0,3463230e-f9f7-4be3-a632-fdd8d017ce84,üôèüëç,5,2025-11-29 03:47:54,Bank of Abyssinia,Bank of Abyssinia
1,a6cbfa34-f2b1-4a16-96b6-c94f58cea76f,Very Good,5,2025-11-28 20:18:20,Bank of Abyssinia,Bank of Abyssinia
2,fc67d12c-92e2-45aa-a9e0-011f58a583bc,goof,5,2025-11-28 13:33:37,Bank of Abyssinia,Bank of Abyssinia
3,11306fb9-5571-4950-8d32-604c5402242f,good!,5,2025-11-28 12:19:31,Bank of Abyssinia,Bank of Abyssinia
4,809c46d2-730e-446a-9061-2a45e978ad9d,good jop,5,2025-11-27 13:19:25,Bank of Abyssinia,Bank of Abyssinia

,reviewId,review,rating,date,app_name,bank_name
0,39f85efe-9d6d-4974-910c-4f7174f6a8e0,Very exemplery App to other Bank Aps !,5,2025-11-29 02:45:26,Dashen Bank,Dashen Bank
1,3ea761da-10b0-472e-9c3f-89a9f23e4c88,good,5,2025-11-29 00:38:53,Dashen Bank,Dashen Bank
2,157e868c-386f-4837-bb1f-1301dd194075,It Is An Amazing app,4,2025-11-28 09:44:21,Dashen Bank,Dashen Bank
3,9504f5cc-7f16-4fe0-8ba5-f76eef162f8b,its fast and easy to communicate to the app an...,5,2025-11-26 18:02:58,Dashen Bank,Dashen Bank
4,d29af33e-3f63-4b7e-9312-b63f7d2c6724,What do you care about my phone's settings? Wh...,1,2025-11-25 17:03:10,Dashen Bank,Dashen Bank

In [4]:
# process the scraped data
# create the processor object
processor_cbe = Processor(df_cbe,"CBE")
processor_boa = Processor(df_boa,"BOA")
processor_db = Processor(df_db,"DB")
'''
process each dataframe and on each step create or update a csv file with processed
data and save it to the processed directory 
'''
# remove duplicates
df_cbe = processor_cbe.remove_duplicates()
df_boa = processor_boa.remove_duplicates()
df_db = processor_db.remove_duplicates()

# handle missing data , normalize dates and display for cbe
df_cbe = processor_cbe.handle_missing_data()
df_cbe = processor_cbe.normalize_dates()
display(df_cbe.head())
# handle missing data , normalize dates and display for boa
df_boa = processor_boa.handle_missing_data()
df_boa = processor_boa.normalize_dates()
display(df_boa.head())
# handle missing data , normalize dates and display for db
df_db = processor_db.handle_missing_data()
df_db = processor_db.normalize_dates()
display(df_db.head())

# save the processed data to a csv file
processor_cbe.save()
processor_boa.save()
processor_db.save()

Removed 0 duplicate rows
Removed 0 duplicate rows
Removed 0 duplicate rows
Handled missing data.
Date range: 2025-08-23 02:23:26 ‚Üí 2025-11-29 08:17:45
Normalized dates.

,reviewId,review,rating,date,app_name,bank_name,month,year
0,28f229b5-0026-41b9-a1eb-b76e74736f63,Make it user friendly.,2,2025-11-29 08:17:45,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia,11,2025
1,68d8daea-db47-4e23-a692-755173dea983,maaliif daddafee install gaafata,3,2025-11-28 13:36:32,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia,11,2025
2,ee0dbb0e-4eb0-47b5-9874-c37877493f99,good app,5,2025-11-28 11:33:17,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia,11,2025
3,5112423d-e618-44ba-ba49-62677cb76cd6,This application is very important and advanta...,5,2025-11-27 23:08:20,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia,11,2025
4,bcb34681-1dd4-4781-b400-4393bb10b1d9,why didn't work this app?,1,2025-11-27 22:40:35,Commercial Bank of Ethiopia,Commercial Bank of Ethiopia,11,2025

Handled missing data.
Date range: 2024-10-03 01:53:27 ‚Üí 2025-11-29 03:47:54
Normalized dates.

,reviewId,review,rating,date,app_name,bank_name,month,year
0,3463230e-f9f7-4be3-a632-fdd8d017ce84,üôèüëç,5,2025-11-29 03:47:54,Bank of Abyssinia,Bank of Abyssinia,11,2025
1,a6cbfa34-f2b1-4a16-96b6-c94f58cea76f,Very Good,5,2025-11-28 20:18:20,Bank of Abyssinia,Bank of Abyssinia,11,2025
2,fc67d12c-92e2-45aa-a9e0-011f58a583bc,goof,5,2025-11-28 13:33:37,Bank of Abyssinia,Bank of Abyssinia,11,2025
3,11306fb9-5571-4950-8d32-604c5402242f,good!,5,2025-11-28 12:19:31,Bank of Abyssinia,Bank of Abyssinia,11,2025
4,809c46d2-730e-446a-9061-2a45e978ad9d,good jop,5,2025-11-27 13:19:25,Bank of Abyssinia,Bank of Abyssinia,11,2025

Handled missing data.
Date range: 2025-05-03 15:53:37 ‚Üí 2025-11-29 02:45:26
Normalized dates.

,reviewId,review,rating,date,app_name,bank_name,month,year
0,39f85efe-9d6d-4974-910c-4f7174f6a8e0,Very exemplery App to other Bank Aps !,5,2025-11-29 02:45:26,Dashen Bank,Dashen Bank,11,2025
1,3ea761da-10b0-472e-9c3f-89a9f23e4c88,good,5,2025-11-29 00:38:53,Dashen Bank,Dashen Bank,11,2025
2,157e868c-386f-4837-bb1f-1301dd194075,It Is An Amazing app,4,2025-11-28 09:44:21,Dashen Bank,Dashen Bank,11,2025
3,9504f5cc-7f16-4fe0-8ba5-f76eef162f8b,its fast and easy to communicate to the app an...,5,2025-11-26 18:02:58,Dashen Bank,Dashen Bank,11,2025
4,d29af33e-3f63-4b7e-9312-b63f7d2c6724,What do you care about my phone's settings? Wh...,1,2025-11-25 17:03:10,Dashen Bank,Dashen Bank,11,2025

Processed reviews are now available at ../data/processed/CBE.csv

Processed reviews are now available at ../data/processed/BOA.csv

Processed reviews are now available at ../data/processed/DB.csv

True